<% if @images.any? %>
  <% @images.each do |image| %>
    <h2><%= image.title %></h2>
    <h3><%= image.description %></h3>
  <% end %>
<% else %>
  <h1>No images yet!</h1>
<% end %>

<a href="/images/new">Upload an image</a>
